@theme inline {
  --radius: 0.375rem;

  --color-border: var(--border);
  --color-border-100: var(--border-100);
  --color-border-200: var(--border-200);

  --color-bg: var(--bg);
  --color-bg-100: var(--bg-100);
  --color-bg-200: var(--bg-200);
  --color-bg-300: var(--bg-300);
  --color-bg-400: var(--bg-400);
  --color-bg-500: var(--bg-500);

  --color-fg: var(--fg);
  --color-fg-100: var(--fg-100);
  --color-fg-200: var(--fg-200);
  --color-fg-300: var(--fg-300);
  --color-fg-400: var(--fg-400);
  --color-fg-500: var(--fg-500);

  --color-accent: var(--accent);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);

  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --color-ring: var(--ring);
}
